.row {
    background-color: #0719a3;
    
}

footer {
    color: #ffffff;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #000000;
}