<div class="container" *ngIf="expLab">

    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="empresaE" name="empresaE" [(ngModel)]="expLab.empresaE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Nombre del puesto</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Fecha de inicio (mm/yyyy)</label>
                    <input type="text" class="form-control" id="inicioE" name="inicioE" [(ngModel)]="expLab.inicioE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">fecha de finalización (mm/yyyy)</label>
                    <input type="text" class="form-control" id="finE" name="finE" [(ngModel)]="expLab.finE" required>
                </div>

                <div class="form-group">
                    <label for="apellido">Logo de empresa</label>
                    <input type="file" class="form-control" id="logoE" name="img" [(ngModel)]="expLab.logoE" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <div class="imagen">
                    <img [src]="imageService.url" width="200px">
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>