<div class="container" *ngIf="proje">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proje.nombreP" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Descripción</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="proje.descripcionP" required>
                </div>

                <div class="form-group">
                    <label for="inicioP">Fecha de inicio (mm/yyyy)</label>
                    <input type="text" class="form-control" id="inicioP" name="inicioP" [(ngModel)]="proje.inicioP" required>
                </div>
                <div class="form-group">
                    <label for="finP">fecha de finalización (mm/yyyy)</label>
                    <input type="text" class="form-control" id="finP" name="finP" [(ngModel)]="proje.finP" required>
                </div>
                <div class="form-group">
                    <label for="linkP">Link al proyecto</label>
                    <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="proje.linkP" >
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>