<div class="container-fluid">
    <div class="container py-4 contenedor">
        <h2 class="display-6 mb-3 h2-lines"> 
            Contacto
        </h2>
        <div class="card-deck row">
            <div class="card col-sm-5 col-md-2 col-lg-2 offset-lg-1 mx-auto">
                <img class="img-redes card-img-top"src="../../../assets/LinkedIn.png">
                <div class="card-body">
                    <h5 class="card-title text-center">LinkedIn</h5>
                    <a href="https://www.linkedin.com/in/juan-ignacio-arrighi-1aa557185/" class="card-text text-center">Juan Ignacio Arrighi</a>
                </div>
            </div>
            <div class="card col-sm-5 col-md-2 col-lg-2 mx-auto">
                <img class="img-redes card-img-top" src="../../../assets/Github.png">
                <div class="card-body">
                    <h5 class="card-title text-center"> GitHub</h5>
                    <a href="https://github.com/JuanArrighi" class="card-text text-center">Juan Arrighi</a>
                </div>
            </div>
            <div class="card col-sm-5 col-md-2 col-lg-2 mx-auto">
                <img class="img-redes card-img-top" src="../../../assets/Gmail.webp">
                <div class="card-body">
                    <h5 class="card-title text-center"> Gmail</h5>
                    <a href="mailto:juaniarrighi@gmail.com" class="card-text text-center">Juaniarrighi@gmail.com</a>
                </div>
            </div>            
            <div class="card col-sm-5 col-md-2 col-lg-2 mx-auto">
                <img class="img-redes card-img-top" src="../../../assets/Behance.png">
                <div class="card-body">
                    <h5 class="card-title text-center">Behance</h5>
                    <a href="https://www.linkedin.com/in/juan-ignacio-arrighi-1aa557185/" class="card-text text-center">Mira mas trabajos</a>
                </div>
            </div>  
        </div>
    </div>
</div>